<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<!--Con la configuracion de appSettings, puedo generar configuracion para utilizar despues,
	en este caso, guardo la ruta donde quiero guardar las imagenes-->
	<appSettings>
		<add key="carpeta-imagen" value="C:\Users\Juan\Desktop\C#Nivel2\appDiscos\images\" />
	</appSettings>
</configuration>